In [26]:
import pandas as pd

In [27]:
import requests

In [28]:
from sqlalchemy import create_engine

In [29]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [30]:
engine.connect()

In [31]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
response = requests.get(url)

In [32]:
with open("taxi_zone_lookup.csv", "wb") as file:
    file.write(response.content)

In [33]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [34]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265